nav {
    background-color: #000;
    height: 100px;
    line-height: 120px;
}

.nav-wrapper {
    padding: 0 20px;
}

.brand-logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    /* Ajusta según sea necesario */
}

.brand-logo img {
    height: 80px;
    /* Ajusta el tamaño del logo según sea necesario */
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -50px;
    /* Espacio entre el logo y el texto */
}

ul.right {
    margin-top: 20px;
    /* Ajusta según sea necesario */
}

ul.right li {
    display: inline-block;
    margin-left: 20px;
    /* Espacio entre los elementos del menú */
}

ul.right li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    /* Transición suave para el color del texto */
}

ul.right li a:hover {
    color: #ffd700;
    background-color: transparent;
    font-size: 19px;
    transition: 400ms;
}
