<p>login works!</p>
 <!-- Modal Trigger -->
 <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
 <!-- Carrusel -->
 <div class="carousel carousel-slider">
  <a class="carousel-item" href="#one!"><img src="https://miro.medium.com/v2/resize:fit:1400/1*KdxlBR9P3mDp9JZ_URMdYQ.jpeg"></a>
  <a class="carousel-item" href="#two!"><img src="https://crosstalk.cell.com/hs-fs/hubfs/Images/Jennifer%20Levine/New%20Insights%20into%20pandas%2C/6990634-panda-hug.jpg?width=1280&height=800&name=6990634-panda-hug.jpg"></a>
  <a class="carousel-item" href="#three!"><img src="https://miro.medium.com/v2/resize:fit:1400/1*KdxlBR9P3mDp9JZ_URMdYQ.jpeg"></a>
  <a class="carousel-item" href="#four!"><img src="https://miro.medium.com/v2/resize:fit:1400/1*KdxlBR9P3mDp9JZ_URMdYQ.jpeg"></a>
  <a class="carousel-item" href="#five!"><img src="https://miro.medium.com/v2/resize:fit:1400/1*KdxlBR9P3mDp9JZ_URMdYQ.jpeg"></a>
</div>
    
 <!-- Modal Structure -->
 <div id="modal1" class="modal">
   <div class="modal-content">
     <h4>Modal Header</h4>


     
     <p>A bunch of text</p>
   </div>
   <div class="modal-footer">
     <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
   </div>
 </div>

